{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
    <h1>Services</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>Contenu</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.content }}</td>
                <td>
                    <a href="{{ path('app_admin_services_show', {'id': service.id}) }}">Consulter</a>
                    <a href="{{ path('app_admin_services_edit', {'id': service.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun élément trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_services_new') }}">Créer</a>
{% endblock %}
