<!DOCTYPE html>
{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1>Services</h1>

    <table class="table">
        <tbody>
          <tr>
            <td>
              <h4>Réparation</h4>
              <p>{{ service.title }}</p>
            </td>
            <td style="display: inline-block; text-align: center;">
              <h4>Services</h4>
              <p>{{ service.content }}</p>
            </td>
            <td style="display: inline-block; text-align: center;">
              <h4>Maintenance</h4>
              <p>{{ service.title }}</p>
            </td>
            <td style="display: inline-block; text-align: center;">
              <h4>Services</h4>
              <p>{{ service.content }}</p>
            </td>
          </tr>
        </tbody>
      </table>
      

    <a href="{{ path('app_services_index') }}">Retour</a>

{% endblock %}
