{% extends 'base.html.twig' %}

{% block title %}Cars index{% endblock %}

{% block body %}
    <h1>Véhicules</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modèle</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Kilomètre</th>
                <th>Année</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.title }}</td>
                <td>{{ car.content }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.kilometer }}</td>
                <td>{{ car.year }}</td>
                <td>
                    <a href="{{ path('app_employe_cars_show', {'id': car.id}) }}">Consulter</a>
                    <a href="{{ path('app_employe_cars_edit', {'id': car.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun véhicules trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employe_cars_new') }}">Créer</a>
{% endblock %}
