{% extends 'base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1 class="titre">Véhicules d'occasions</h1>

    <table class="table">
        <tbody>
        <div>
            <tr>
                <th>Modèle</th>
                <td>{{ car.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ car.content }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ car.price }}</td>
            </tr>
            <tr>
                <th>Kilomètre</th>
                <td>{{ car.kilometer }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ car.year }}</td>
            </tr>
        </div>
        </tbody>
    </table>

    <div>
        {% for comment in comments %}
            <div>{{ comment.user.email }} a dit :</div>
            <div>{{ comment.content }}</div>
        {% endfor %}
    </div>

    

{% endblock %}
